html {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
}
body {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 249, 253);
}
h2 {
    color: #912a2a;
    font-size: 94px;
    font-weight: 600;
}
.button {
    width: 345px;
    height: 112px;
    font-size: 53px;
    font-weight: 700;
    background-color: rgb(172, 246, 163);
    border-radius: 30px;
    color: #074a89;
}
p {
    font-size: 54px;
    font-weight: 600;
}
